<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
    h1{
      color:#F5881F;
    }
    h2{
      color:#4CD964;
    }
    </style>
  </head>
  <body>


    <h1>Quittance <%=@quittance_date%></h1>

    <p>Bonjour</p>

    <p>A l'attention de <%=@h.occupants%></p>
    <p>Merci de trouver ci-joint la quittance pour <%=@quittance_date%></p>

    <p>Le bien concerné est au</p>
    <h2><%=@h.address%></h2>


    <p>Merci<br/>
    Cordialement<br/>
    <%=@h.owner%></p>
  </body>
</html>
