<h1 class="months"><%=@h.address%></h1>


<table class="months">
  <tr>
    <th>Mois</th>
    <th>Voir HTML</th>
    <th>Voir PDF</th>
    <th>Envoyer par e-mail</th>
  </tr>
<% @months.each do |m| %>
  <tr>
      <td><%= m.name%></td>
      <td><a href="<%=m.link%>">Voir HTML</a></td>
      <td><a href="<%=m.link%>/pdf">Voir PDF</a></td>
      <td><a href="<%=m.link%>/email">Envoyer par e-mail</a></td>
  </tr>
<%end%>

</table>




